<div fxLayout="row" fxLayoutWrap="wrap">
  <mat-card class="change-password-box">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
        <span class="c-display--flex c-align--center">
          <app-basic-input-field [form]="changePasswordForm" #oldP [id]="'oldPassword'" [placeholder]="'Old Password'"
            [submitted]=submitted [inputType]="'password'">
          </app-basic-input-field>
          <i class="material-icons button" (click)="oldP.inputType=(oldP.inputType=='password')?'text':'password'"
            title="{{oldP.inputType=='password' ? 'Show':'Hide'}}">
            {{oldP.inputType=='password' ? 'visibility':'visibility_off'}}</i>
        </span>


        <span class="c-display--flex c-align--center">
          <app-basic-input-field [form]="changePasswordForm" #newP [id]="'newPassword'" [placeholder]="'New Password'"
            [submitted]=submitted [inputType]="'password'">
          </app-basic-input-field>
          <i class="material-icons button" (click)="newP.inputType=(newP.inputType=='password')?'text':'password'"
            title="{{newP.inputType=='password' ? 'Show':'Hide'}}">
            {{newP.inputType=='password' ? 'visibility':'visibility_off'}}</i>
        </span>
        <mat-error *ngIf="changePasswordForm.hasError('sameAsOldPassword')">
          <br />Same as old password.
        </mat-error>

        <span class="c-display--flex c-align--center">
          <app-basic-input-field [form]="changePasswordForm" #conP [id]="'confirmPassword'"
            [placeholder]="'Confirm Password'" [submitted]=submitted [inputType]="'password'">
          </app-basic-input-field>
          <i class="material-icons button" (click)="conP.inputType=(conP.inputType=='password')?'text':'password'"
            title="{{conP.inputType=='password' ? 'Show':'Hide'}}">
            {{conP.inputType=='password' ? 'visibility':'visibility_off'}}</i>
        </span>

        <button [disabled]="changePasswordForm.invalid" class="btn btn-success">Change Password</button>
        <button type="button" class="btn btn-success" [mat-dialog-close]="">Close</button>
        <mat-error *ngIf="changePasswordForm.hasError('notSame')">
          <br />Passwords do not match.
        </mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>