<!--ejs-grid [dataSource]='data' [allowSorting]='true' [editSettings]='editSettings' [toolbar]='toolbar' >
  <e-columns>
    <e-column field='userid' headerText='userid' width=120></e-column>
    <e-column field='preName' headerText='preName' width=150></e-column>
    <e-column field='name' headerText='name' width=120></e-column>
    <e-column field='email' headerText='email' width=120></e-column>
    <e-column field='status' headerText='status' width=120></e-column>
    <e-column field='isTechnical' headerText='isTechnical' width=120></e-column>
    <e-column field='tags' headerText='tags' width=120></e-column>
  </e-columns>
</ejs-grid-->
<br />
<mat-form-field>
  <input matInput placeholder="Search users" #input>
</mat-form-field>

<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>


<mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="id" matSortDirection="asc"
  matSortDisableClear>

  <ng-container matColumnDef="preName">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">PreName</mat-header-cell>
    <mat-cell *matCellDef="let user" fxFlex="20">
      <!-- <a style="text-decoration: none; color: black" [routerLink]="['/users/profile',user.id ]">{{user.preName}} {{user.name}}</a> -->
      <ejs-inplaceeditor mode="Inline" type="Text" (actionSuccess)="updateUser($event,user,'preName')"
        value="{{user.preName}}">
      </ejs-inplaceeditor>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">Name</mat-header-cell>
    <mat-cell *matCellDef="let user" fxFlex="20">
      <!-- <a style="text-decoration: none; color: black" [routerLink]="['/users/profile',user.id ]">{{user.preName}} {{user.name}}</a> -->
      <ejs-inplaceeditor mode="Inline" type="Text" (actionSuccess)="updateUser($event,user,'name')"
        value="{{user.name}}">
      </ejs-inplaceeditor>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userid">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40">userid</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user" fxFlex="40">
      <div fxFlex="40">
        {{user.userId}} <br />
      </div>
      <br />
      <div fxFlex="60">
        <ejs-inplaceeditor mode="Inline" type="Text" (actionSuccess)="updateUser($event,user,'email')"
          value="{{user.email}}">
        </ejs-inplaceeditor>
      </div>
      <!-- {{user.email}} -->
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">status</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user" fxFlex="10">
      <ejs-inplaceeditor mode="Inline" type="DropDownList" (actionSuccess)="save($event,user)" value="{{user.status}}"
        [model]="statusModel"></ejs-inplaceeditor>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isTechnical">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10">isTechnical</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user" fxFlex="10">
      <ejs-inplaceeditor mode="Inline" type="DropDownList" (actionSuccess)="updateTechnical($event,user)"
        value="{{user.technical}}" [model]="booleanModel"></ejs-inplaceeditor>

    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tags">
    <mat-header-cell *matHeaderCellDef>tags</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <tag-input theme='bootstrap' [ngModel]="user.tags" [identifyBy]="'id'" [displayBy]="'tag'"
        (onAdd)="onItemAdded($event,user.id)" (onRemove)="onItemRemoved($event,user.id)">
      </tag-input>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="groups">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30">groups</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user" fxFlex="30">
      <!--
      <ul style="list-style: none;padding: 0;">
        <li *ngFor="let group of user.groups">
          {{group.name}}
        </li>
      </ul> -->

      <!-- <ejs-inplaceeditor mode="Inline" type="DropDownList" (actionSuccess)="updateUserGrops($event,user)"
        value="{{getvalue(user.groups)}}" [model]="ListModel"></ejs-inplaceeditor> -->

      <ng-container *ngIf="GroupList && GroupList.length> 0">
        <ejs-multiselect id='localData' #local [dataSource]='GroupList' [fields]='fields1'
          [placeholder]="'Select a group'" [value]="user.groupIds" (change)="updateUserGrops($event,user)">
        </ejs-multiselect>
      </ng-container>
      <!-- <ejs-multiselect id='actionsData' [dataSource]='GroupList'  [fields]='fields1' mode='box' placeholder='Select a group'       [(value)]="user.groups">
        (change)="updateActionsForPrivilege($event,privilege)"
    </ejs-multiselect>


      <ejs-multiselect id='multiselectelementforgroups'mode="box" value="{{user.groups}}" [model]="ListModel"
        ></ejs-multiselect> -->


    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="applications">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20">applications</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user" fxFlex="20">
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="commands">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"></mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let user" fxFlex="20">
      <a class="deleteLink" (click)="delete(user.id)">Delete</a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let configuration; columns: displayedColumns;" matRipple></mat-row>

</mat-table>

<mat-paginator [length]="dataSource.numberOfUsers" [pageSize]="20" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
