<div fxLayout="row" fxLayoutWrap="wrap">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome to konfigure.io</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      We are currently serving:<br/>
      {{report.amountOfApplications}} Applications<br/>
      {{report.amountOfEnvironments}} Environments<br/>
      {{report.amountOfHosts}} Hosts<br/>
      {{report.amountOfConfigurationItems}} Configuration Items<br/>
      {{report.amountOfUsers}} Users<br/>
    </mat-card-content>
  </mat-card>
</div>
